service.pid="io.skysail.server.app.quartz.QuartzApplication"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.product.todos/config/local/io.skysail.server.app.quartz.QuartzApplication.cfg"
org.quartz.threadPool.threadCount="3"
org.quartz.jobStore.class="org.quartz.simpl.RAMJobStore"
org.quartz.scheduler.instanceName="MyScheduler"
