service.pid="io.skysail.server.text.store.git.GitTranslationStore"
repository.path="/Users/carsten/git/skysail-framework/skysail.server.translations"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.product.todos/config/local/io.skysail.server.text.store.git.GitTranslationStore.cfg"
