*.class

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.gradle/
/reports/
/generated/
*.DS_Store
/skysail.server.app.github/

*.bat
/skysail.server.app.designer.gencode1
/skysail.bundles.simpleframework/
/skysail.server.app.propman/
/skysail.server.app.designer.wiki
/skysail.server.converter/webapp/.bowerrc
skysail.server.polymer/_polymer/.bowerrc
