[project]
	description = skysail business framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Carsten Gräf (evandor)
[access "refs/for/refs/*"]
	read = group user/Carsten Gräf (evandor)
	push = group user/Carsten Gräf (evandor)
	label-Code-Review = -2..+2 group user/Carsten Gräf (evandor)
	label-Verified = -1..+1 group user/Carsten Gräf (evandor)
	rebase = group user/Carsten Gräf (evandor)
	removeReviewer = group user/Carsten Gräf (evandor)
	submit = group user/Carsten Gräf (evandor)
[access "refs/heads/*"]
	read = group user/Carsten Gräf (evandor)
	create = group user/Carsten Gräf (evandor)
	push = +force group user/Carsten Gräf (evandor)
	pushMerge = group user/Carsten Gräf (evandor)
[access "refs/tags/*"]
	push = +force group user/Carsten Gräf (evandor)
	pushTag = group user/Carsten Gräf (evandor)
	pushSignedTag = group user/Carsten Gräf (evandor)
