io.skysail.server.um.simple.SimpleUserManagementProvider="reference:file:/Users/carsten/git/skysail-framework/skysail.server.um.simple/generated/skysail.server.um.simple.jar"
io.skysail.server.http.HttpServer="reference:file:/Users/carsten/git/skysail-framework/skysail.server.http/generated/skysail.server.http.jar"
io.skysail.server.db.DbConfigurations.51831558-e045-4f5d-95af-206b8c3ef580="reference:file:/Users/carsten/git/skysail-framework/skysail.server/generated/skysail.server.jar"
