io.skysail.server.db.DbConfigurations.64fe3f76-a414-4e18-9a9f-a1aec5e2e983="file:/C:/git/skysail-framework/skysail.server/generated/skysail.server.jar"
io.skysail.server.um.simple.SimpleUserManagementProvider="file:/C:/git/skysail-framework/skysail.server.um.simple/generated/skysail.server.um.simple.jar"
io.skysail.server.http.HttpServer="file:/C:/git/skysail-framework/skysail.server.http/generated/skysail.server.http.jar"
