service.pid="io.skysail.server.db.DbConfigurations.51831558-e045-4f5d-95af-206b8c3ef580"
name="skysail"
url="plocal:db"
service.factoryPid="io.skysail.server.db.DbConfigurations"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.server.app.todos/config/test/io.skysail.server.db.DbConfigurations-skysail.cfg"
