service.pid="io.skysail.server.http.javamelody.EmbeddedServer"
sampling-seconds="1.0"
monitoring-path="/"
server-port="8090"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.product.todos/config/local/io.skysail.server.http.javamelody.EmbeddedServer.cfg"
authorized-users="admin:pwd"
storage-directory="C:/tmp/javamelody"
