todos_int_skysail_io.protocol="http"
todos_int_skysail_io.host="todos.int.skysail.io"
todos_skysail_io.protocol="http"
todos_int_skysail_io.name="todos.int.skysail.io"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.product.todos/config/local/io.skysail.server.peers.adminconfig.FileBasedPeersProvider.cfg"
service.pid="io.skysail.server.peers.adminconfig.FileBasedPeersProvider"
todos_int_skysail_io.users="admin,demo"
installations="todos_int_skysail_io,\ todos_skysail_io"
todos_skysail_io.host="todos.skysail.io"
todos_skysail_io.users="admin"
todos_skysail_io.name="todos.skysail.io"
