io.skysail.server.db.DbConfigurations.ce010455-5d03-417f-84a9-6259d178edc6="reference:file:/Users/carsten/git/skysail-framework/skysail.server.db/generated/skysail.server.db.jar"
landingpages="reference:file:/Users/carsten/git/skysail-framework/skysail.server/generated/skysail.server.jar"
org.apache.felix.scr.ScrService="reference:file:/Users/carsten/.bnd/cache/https%253A%252F%252Fraw.githubusercontent.com%252Fbndtools%252Fbundle-hub%252Fmaster%252Forg.apache.felix.scr/org.apache.felix.scr-1.8.2.jar"
io.skysail.server.features.repositories.ConfigAdminFeatureStateRepository="reference:file:/Users/carsten/git/skysail-framework/skysail.server/generated/skysail.server.jar"
