service.pid="io.skysail.server.db.DbConfigurations.9cb7467f-5f24-405b-b9f8-0cf1d5375dcc"
name="skysail"
url="memory:website"
service.factoryPid="io.skysail.server.db.DbConfigurations"
felix.fileinstall.filename="file:/C:/git/skysail-framework/skysail.server.documentation.it/config/test/io.skysail.server.db.DbConfigurations-skysail.cfg"
