service.pid="io.skysail.server.features.repositories.ConfigAdminFeatureStateRepository"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.product.todos/config/io.skysail.server.features.repositories.ConfigAdminFeatureStateRepository.cfg"
de.twenty11.skysail.server.core.restlet.SecurityFeatures.ALLOW_ORIGIN_FEATURE="true"
