service.pid="skysail.common.config.configadmin"
versionFrom="skysail.products.vanilla"
SocketIO.host="127.0.0.1"
productHome="http://localhost:2016"
host="127.0.0.1"
felix.fileinstall.filename="file:/C:/git/skysail-framework/skysail.server.documentation.it/config/test/skysail.common.config.configadmin.cfg"
de.twenty11.skysail.server.core.restlet.AccessControlAllowOriginFeature.users.enabled="admin"
SocketIO.port="2017"
