peers="file:/C:/git/skysail-framework/skysail.server.http/generated/skysail.server.http.jar"
landingpages="file:/C:/git/skysail-framework/skysail.server/generated/skysail.server.jar"
io.skysail.server.db.DbConfigurations.9cb7467f-5f24-405b-b9f8-0cf1d5375dcc="file:/C:/git/skysail-framework/skysail.server/generated/skysail.server.jar"
io.skysail.server.um.simple.SimpleUserManagementProvider="file:/C:/git/skysail-framework/skysail.server.um.simple/generated/skysail.server.um.simple.jar"
io.skysail.server.features.repositories.FeaturesRepository="file:/C:/git/skysail-framework/skysail.server/generated/skysail.server.jar"
org.apache.felix.scr.ScrService="file:/C:/Users/graefca/.bnd/cache/https%253A%252F%252Fraw.githubusercontent.com%252Fbndtools%252Fbundle-hub%252Fmaster%252Forg.apache.felix.scr/org.apache.felix.scr-1.8.2.jar"
io.skysail.server.http.HttpServer="file:/C:/git/skysail-framework/skysail.server.http/generated/skysail.server.http.jar"
