###################################################################################
### Email Settings
###################################################################################

mail.smtp.host=mail.evandor.de
mail.smtp.user=evandor@gmail.com
mail.smtp.password=
