service.pid="io.skysail.server.db.DbConfigurations.ce010455-5d03-417f-84a9-6259d178edc6"
password="admin"
name="skysailgraph"
url="remote:localhost/skysailcrm"
service.factoryPid="io.skysail.server.db.DbConfigurations"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.product.todos/config/local/io.skysail.server.db.DbConfigurations-skysailgraph.cfg"
username="admin"
