service.pid="io.skysail.server.db.DbConfigurations.dac95ab1-ec6b-4133-ab50-98fd213fc5c0"
password="admin"
name="skysailgraph"
url="remote:localhost/skysailcrm"
service.factoryPid="io.skysail.server.db.DbConfigurations"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.product.todos/config/io.skysail.server.db.DbConfigurations-skysailgraph.cfg"
username="admin"
