service.pid="io.skysail.server.db.DbConfigurations.2985a4f8-5240-4de6-bff9-e89a2dbe2942"
password="admin"
name="skysailgraph"
url="remote:localhost/skysailcrm"
service.factoryPid="io.skysail.server.db.DbConfigurations"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.server.designer.restclient/config/local/io.skysail.server.db.DbConfigurations-skysailgraph.cfg"
username="admin"
