<!doctype html>
<html ng-app="todosProduct" style="height: 100%">
<head>
  <meta charset="utf-8">

  <title>Todos powered by skysail (&alpha;)</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <link type="text/css" href="css/jquery-ui.css" rel="stylesheet" />
  <link href="/../static/css/bootstrap.css" rel="stylesheet">
  <link href="/../static/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="css/style_angularjs.css" rel="stylesheet">
  <link href="css/twitter-bootstrap/bootstrap-combined.min.css" rel="stylesheet">

  <script src="js/angular-1.3.15/angular.min.js"></script>
  <script src="js/angular-1.3.15/angular-route.js"></script>

  <script src="js/app.js"></script>
  <script src="js/utils.js"></script>
  <script src="js/directives/todolist.js"></script>
  <script src="js/directives/todos.js"></script>
  <script src="js/filters/filters.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/newTodo.js"></script>
  <script src="js/ui-bootstrap-tpls-0.6.0.js"></script>
</head>

<body style="background-color: #eee; padding-bottom: 20px; height: 90%" ng-controller="AppCtrl" ng-cloak>

  <!-- top navigation and authentication -->
  <div class="navbar" style="margin-bottom: 10px;">
    <div class="navbar-inner">
      <a class="brand" href="javascript:window.location.reload(true)"
        ng-model="version">skysail <b>Todos</b></a> <span
        id="actionMessage" style="padding: 10px 20px 10px;"></span>

      <div style="float: right; margin: 2px">
        <form class="navbar-form navbar-right" role="form"
          action="/_login?targetUri=Todos/" method="POST"
          ng-hide="loggedIn">
          <input type="text" name="username" placeholder="Email"
            class="form-control"> <input type="password"
            name="password" placeholder="Password" class="form-control">
          <button type="submit" class="btn btn-success">Sign in</button>
        </form>
        <a ng-click="logout()" ng-show="loggedIn" href="#"><span
          class="btn btn-primary"> logout </span></a>
      </div>

      <ul class="nav" style="float: right; margin: 2px;">
        <li></li>
      </ul>
    </div>
  </div>

  <div class="container-fluid" style="padding-left: 10px; padding-right: 30px; height: 100%">
    <div class="row-fluid" style="border: 1px solid #aaa; background-color: white; padding: 10px; margin-top: 3px; border-radius: 5px; height: 80%">

      <!-- Left Navigation (Lists and Todos) -->
      <div class="span2" style="background-color: white;" ng-show="loggedIn">
        <div id="notes" style="border-right: 1px dotted lightgrey;">
          <div class="nav-header" style="padding-left: 1px;">{{userform.user}}'s Lists <a style="cursor: pointer" ng-click='newTodoList()' ng-hide="mode=='list'">+</a></div>
          <div>
            <todolist ng-repeat="list in lists | orderBy:'title':false"></todolist>
          </div>
        </div>
        <div id="notes" style="border-right: 1px dotted lightgrey;">
          <div class="nav-header" style="padding-left: 1px;">
            Lists Notes <a style="cursor: pointer" ng-click='newTodo()' ng-hide="currentList==null || mode=='newTodo'">+</a>
          </div>
          <div>
            <todos ng-repeat="todo in todos | orderBy:'title':false"></todos>
          </div>
        </div>
      </div>

      <div class="span8" style="background-color: white">
        <todo id="selectedNote"                             ng-show="loggedIn && mode=='todo'"></todo>
        <newlist id="selectedTodoList"                      ng-show="loggedIn && mode=='list'"></newlist>
        <newtodo ng-controller="NewTodoCtrl as newTodoCtrl" ng-show="loggedIn && mode=='newTodo'"></newtodo>
      </div>

      <div class="span2" style="background-color: white">
        mode={{mode}}<br> 
        dirty={{dirty}}<br>
        currentList={{currentList.id}}
      </div>
    </div>
  </div>

  <div id="footer">
    <div class="container">
      <p class="text-muted" style="text-align: center;">
        &copy; 2015. <a href='#'>About</a> | <a href='/'>Backend</a> | <a href='#'>Terms</a> | <a href='http://wiki.twentyeleven.de'>Help</a> | <a href='http://jira.twentyeleven.de'>Feedback</a>
      </p>
    </div>
  </div>

  <script src="/../static/js/jquery-1.9.1.js"></script>
  <script src="/../static/js/jquery.cookie.js"></script>
  <script src="/../static/js/bootstrap.js"></script>
  <script src="/../static/js/jquery-ui-1.9.2.js"></script>
  <script src="/../static/js/jquery.form.js"></script>

  <script>
			$("#radio").buttonset();
		</script>
    
    
    <!-- <div id="radio">
                  <input type="radio" id="radio1" name="radio"><label for="radio1">Choice 1</label>
                  <input type="radio" id="radio2" name="radio" checked="checked"><label for="radio2">Choice 2</label>
                  <input type="radio" id="radio3" name="radio"><label for="radio3">Choice 3</label>
                  </div>-->
</body>
</html>