admin.password="$2a$12$52R8v2QH3vQRz8NcdtOm5.HhE5tFPZ0T/.MpfUa9rBzOugK.btAHS"
users="admin,user,demo"
mira.password="$2a$12$mBXqefcONxAauLZc6EDJhO8g7oLM1jhEBQCspfyEHr57Xz9b6oiDO"
user.id="#3"
mira.id="#2"
admin.roles="admin,developer,skysail.server.app.todos.user"
demo.password="$2a$12$52R8v2QH3vQRz8NcdtOm5.HhE5tFPZ0T/.MpfUa9rBzOugK.btAHS"
admin.id="#1"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.product.todos/config/local/io.skysail.server.um.simple.FileBasedUserManagementProvider.cfg"
service.pid="io.skysail.server.um.simple.FileBasedUserManagementProvider"
user.password="$2a$12$52R8v2QH3vQRz8NcdtOm5.HhE5tFPZ0T/.MpfUa9rBzOugK.btAHS"
demo.id="#4"
demo.roles=""
