service.pid="io.skysail.server.app.fileserver.FileserverApplication"
fileserver.rootPath.tmpDir="C:\\tmp"
felix.fileinstall.filename="file:/Users/carsten/git/skysail-framework/skysail.product.todos/config/common/io.skysail.server.app.fileserver.FileserverApplication.cfg"
fileserver.rootPath.currentDir="."
